@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* --- CONFIGURAÇÃO GLOBAL (ROOT) --- */
:root {
  /* COMPUTADOR */
  --title-size: 8rem;
  --title-line-height: 10rem;
  --text-size: 2rem;
  --section-padding: 0 20rem;

  /* CORES */
  --primary-green: #80d84d;
  --black: #000000;
  --white: #ffffff;
  --shadow-green: rgba(172, 250, 126, 0.4);
}

/* TABLET */
@media (max-width: 1024px) {
  :root {
    --title-size: 6rem;
    --title-line-height: 8rem;
    --text-size: 1.8rem;
    --section-padding: 0 10rem;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  :root {
    --title-size: 4rem;
    --title-line-height: 5rem;
    --text-size: 1.6rem;
    --section-padding: 0 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.highlightedGreenTitle {
  color: var(--primary-green);
}

.highlightedWhiteTitle {
  color: var(--white);
}

p span.highlightedWhiteTitle {
  font-weight: 500;
}

.bgTitle {
  color: var(--white);
  background-color: var(--black);
  padding: 0rem 0.8rem;
  border-radius: 0.4rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  height: 100dvh;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

/* index.css */
.mySwiper {
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mySwiper .swiper-slide {
  height: 40rem;
}

.mySwiper .swiper-pagination-bullet {
  background: var(--black);
  opacity: 0.5;
}

.mySwiper .swiper-pagination-bullet-active {
  background: var(--white);
  opacity: 1;
}
